<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="config-username" class="col-form-label">Here you can change your username</label>
                        <input type="text" class="form-control" id="config-username">
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="display: block !important;">
                <button type="button" class="btn btn-primary" id="configModalButton">Go!</button>
            </div>
        </div>
    </div>
</div>