<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="welcome-username" class="col-form-label"><b>Welcome!</b></label><br>
                        <label for="welcome-username" class="col-form-label">Set your username to begin</label>
                        <input type="text" class="form-control" id="welcome-username">
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="display: block !important;">
                <button type="button" class="btn btn-primary" id="welcomeModalButton">Go!</button>
            </div>
        </div>
    </div>
</div>